<% flash.each do |type, msg| %>
  <%= content_tag :div, sanitize(msg), class: "flash avenir" %>
<% end %>

<div class="contact-page">
  <p class="contact-text">
    Caroline and Denny met online too.
  </p>
  <p class="contact-text">
    Introduce yourself.
  </p>
  <div class="form-container">
    <%= form_tag(contacted_path) do %>
      <div class="input-field">
        <%= label_tag :name %><br>
        <%= text_field_tag :name %>
      </div>
      <div class="input-field">
        <%= label_tag :email, 'Email*' %><br>
        <%= text_field_tag :email %>
      </div>
      <div class="input-field">
        <%= label_tag :subject %><br>
        <%= text_field_tag :subject %>
      </div>
      <div class="input-field">
        <%= label_tag :message, 'Message*' %><br>
        <%= text_area_tag :message %>
      </div>
      <p class='required-info'>
        * indicates required field
      </p>
      <%= submit_tag "Send", class: 'submit-btn avenir' %>
    <% end %>
  </div>
</div>
