<h2 class="team-title section-title phosphate center-text">MEET THE CAST</h2>

<div class="bio-links-container">
  <div class="bio-link">
    <a href="#" id="krasowski">
      <%= image_tag('jennak', alt:'Jenna Krasowski', class: 'bio-img') %>
      <h2>Jenna Krasowski</h2>
      <h3>Caroline</h3>
    </a>
  </div>
  <div class="bio-link">
    <a href="#" id="fajardo">
      <%= image_tag('michaelf', alt:'Michael Earle Fajardo', class: 'bio-img') %>
      <h2>Michael Earle Fajardo</h2>
      <h3>Denny</h3>
    </a>
  </div>
  <div class="bio-link">
    <a href="#" id="joliec">
      <%= image_tag('joliec', alt:'Jolie Curtsinger', class: 'bio-img') %>
      <h2>Jolie Curtsinger</h2>
      <h3>Liz</h3>
    </a>
  </div>
  <div class="bio-link">
    <a href="#" id="iyer">
      <%= image_tag('theoi', alt:'Theo Iyer', class: 'bio-img') %>
      <h2>Theo Iyer</h2>
      <h3>Paul</h3>
    </a>
  </div>
  <div class="bio-link">
    <a href="#" id="bove">
      <%= image_tag('elizabethb', alt:'Elizabeth Bove', class: 'bio-img') %>
      <h2>Elizabeth Bove</h2>
      <h3>Dr. Sugar - Susanna - Caroline's Mom</h3>
    </a>
  </div>
</div>

<div class="full-bio" id="krasowski-bio">
  <div class="bio-left">
    <%= image_tag('jennak', alt:'Jenna Krasowski', class: 'bio-image') %>
    <h2>Jenna Krasowski</h2>
    <h3>Caroline</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      Jenna Krasowski graduated from the Atlantic Theater Conservatory and has worked with Collective Consciousness Theatre, Crashbox Theater, the EBE Ensemble, the Estrogenius Festival, and The One-Minute Play Festival. Past work includes Masha in Three Sisters (Alchemical Theatre Lab), Masha in A Seagull (Prova workshop), Antigone in Antigone (Wandering Theatre Co), and most recently, Claire in Bodies of Water (NY Fringe). She is also a part of the sketch group "Five Minutes Late." She is excited to bring Caroline and this story to life!       <a target="_" href="http://www.jennakrasowski.com">www.jennakrasowski.com</a>
    </p>
  </div>
</div>

<div class="full-bio" id="fajardo-bio">
  <div class="bio-left">
    <%= image_tag('michaelf', alt:'Michael Earle Fajardo', class: 'bio-image') %>
    <h2>Michael Earle Fajardo</h2>
    <h3>Denny</h3>
  </div>
  <div class="bio-right">
    <p class='align-top text'>
      MICHAEL EARLE FAJARDO holds an MFA from the NYU GradActing program. Television and Film credits include work on major networks, such as NBC ("Kings", "Law & Order"), ABC ("One Life to Live"), and CBS ("The Guiding Light"). He also stars in the award-winning short film SUNDAY and is featured in Spike Lee's "Inside Man". Theatre credits include SORANZO from "Tis' Pity She's a Whore" at ACT, EDMUND from King Lear at The Public, and FRANK in the east coast premier of "Hilda" at The Studio Theatre in Washington, D.C. and the 59E59 Theatre in NYC. He is very excited to embark on this adventure as he believes that one of the most effective ways of increasing our collective humanity is by telling stories that explore the lives of ALL people in an honest way.
    </p>
  </div>
</div>

<div class="full-bio" id="bove-bio">
  <div class="bio-left">
    <%= image_tag('elizabethb', alt:'Elizabeth Bove', class: 'bio-image') %>
    <h2>Elizabeth Bove</h2>
    <h3>Dr. Sugar - Susanna - Caroline's Mom</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      Elizabeth Bove made her professional theater debut at Florida Rep in Witness for the Prosecution (Carbonnell Award for Best Actress nomination).  Theater credits: The Guthrie Theater, Manhattan Theater Club, Rattlestick Theatre, Edinburgh and New York Fringe Festivals, Metropolitan Playhouse, and a European tour of Who’s Afraid of Virginia Woolf?  .  Film:  Irrefutable Proof (Beverly Hills Theater Festival, Best Film), The Bench (Los Angeles Short Film Festival, Platinum Award for Best Actress), Plague Town. TV:  Law & Order, every New York soap, BBC (spoof on Clinton, Bill, that is, directed by Armando Iannuzzi). Visit <a target="_" href="http://www.imdb.com/name/nm0100574/?ref_=fn_al_nm_1">Elizabeth's IMDB page</a> and <a target="_" href="http://www.elizabethbove.com">www.elizabethbove.com</a> for additional credits.
    </p>
  </div>
</div>

<div class="full-bio" id="iyer-bio">
  <div class="bio-left">
    <%= image_tag('theoi', alt:'Theo Iyer', class: 'bio-image') %>
    <h2>Theo Iyer</h2>
    <h3>Paul</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      Theo Iyer most recently appeared at the Huntington Theatre Company in Can You Forgive Her?, which will make it's Off-Broadway debut this season at The Vineyard Theatre. He has New York credits that include Animals out of Paper, Sex and Charitable Giving, and Brothers. His recent television and film work include Limitless on CBS and the feature film The Grief of Others which was featured at the South by Southwest Film Festival and the Cannes Film Festival. Theo is a recent graduate of New York University’s Tisch School of the Arts, earning a BFA in acting. <a target="_" href="http://www.theoiyer.com">theoiyer.com.</a>
    </p>
  </div>
</div>

<div class="full-bio" id="joliec-bio">
  <div class="bio-left">
    <%= image_tag('joliec', alt:'Jolie Curtsinger', class: 'bio-image') %>
    <h2>Jolie Curtsinger</h2>
    <h3>Liz</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      Jolie is thrilled to be joining the company of ACROSS THE PARK. Originally from L.A., Jolie loves creating theater both as an actor and a producer. She is Co-Artistic Director of InProximity Theatre Company and was most recently seen in PROMISING (Theatre Row), THE FALL TO EARTH (59E59), NAVY PIER (Theatre Row), THE MAIDEN’S PRAYER (Theatre 54@Shetler), and ORANGE FLOWER WATER (Theatre 54@Shetler). Other New York stage credits include ALMOST, MAINE and Amy Fox's ONE THING I LIKE TO SAY IS (Cockeyed Optimists) and The DARE Project (taxdeducitble), as well as readings with Anthem Theatre Company and Penguin Rep. LA stage credits include Adam Boch’s SWIMMING IN THE SHALLOWS, LOOT, CHEYENNE, and Emma Frost’s AIRSICK. Jolie lives in Brooklyn with her husband and two children and is a proud member of the Board of Directors of St. Ann's Warehouse.
    </p>
  </div>
</div>

<!--

<div class="full-bio" id="fahlsing-bio">
  <div class="bio-left">
    <%= image_tag('KTF', alt:'Kate Tucker Fahlsing', class: 'bio-link') %>
    <h2>Kate Tucker Fahlsing</h2>
    <h3>Playwright, Producer</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      <a target="_" href="http://www.katetuckerfahlsing.com">www.KateTuckerFahlsing.com</a>
    </p>
  </div>
</div>

<div class="full-bio" id="maggiotto-bio">
  <div class="bio-left">
    <%= image_tag('KCM', alt:'Kathryn Coughlin Maggiotto', class: 'bio-link') %>
    <h2>Kathryn Coughlin Maggiotto</h2>
    <h3>Producer</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
    </p>
  </div>
</div> -->

<!-- <div class="bio avenir">
  <h2 class="section-title phosphate center-text">THE TEAM</h2>
  <div class="bio-block1">
    <h2>Kate Tucker Fahlsing</h2>
    <h3>Playwright, Producer</h3>
    <%= image_tag('KTF', alt:'Kate Tucker Fahlsing', class: 'bio-image') %>
  </div>
  <div class="bio-block2 align-top">
    <p class='text'>
      Kate Tucker Fahlsing (one half of the two Kates working on this production) is a playwright and screenwriter. She recently graduated from Northwestern University with her MFA in Writing for the Screen and Stage. Kate is compelled to write about the things we cannot discuss at the dinner table, like nontraditional relationships, chronic and invisible illnesses, and 21st century femininity. Her plays have been featured as readings at Chicago Dramatists, Teatro Vista at Victory Gardens Theater, Greenhouse Theater, and Stage 773 in Chicago. Her plays include, ACROSS THE PARK, HERPES, DUCKS UNLIMITED, SLEEP NUMBER, and PLAN B. She’s also written and performed Off-Off Broadway at La MaMa, Dixon Place, and Judson Church. A production of Kate’s play HERPES, recently premiered at Stage 773 as a part of the <span>4 by 4: 4 New Plays by 4 New Writers showcase</span>, which she produced. Kate apprenticed with Oscar-nominated screenwriter, Hawk Ostby, for three years where she wrote and developed projects for both TV and film. She’s a top ten finalist for the Playwrights’ Center Core Apprentice Program 2016-17. Kate has a strong affection for the outdoors and her Labrador retriever, Ojibwa. More info:
      <a target="_" href="http://www.katetuckerfahlsing.com">www.KateTuckerFahlsing.com</a>
    </p>
  </div>
</div>
<div id='kcm-bio' class="bio avenir">
  <div class="bio-block1">
    <h2>Kathryn Coughlin Maggiotto</h2>
    <h3>Producer</h3>
    <%= image_tag('KCM', alt:'Kathryn Coughlin Maggiotto', class: 'bio-image') %>
  </div>
  <div class="bio-block2 align-top">
    <p class='text'>
      Kathryn also known on this production as "other Kate" writes, develops and produces new plays. She served as the literary manager and associate producer of CulturalDC’s Source Festival for four years. Other dramaturgy credits include Taffety Punk Theatre Company, The DC Queer Theatre Festival and Young Playwrights’ Theater where she was a Resident Teaching Artist. Kathryn’s plays have been developed and produced by Field Trip Theater, Rorschach Theatre, Inkwell Theatre, 1MPF, DC-Page-to-Stage, St. Bonaventure University, The Disreputables and Meat and Bone Theatre Company. Her plays include MORE THAN BEFORE, SLIP, THEY SAY THERE'S A WAR GOING ON, SOUNDS OF ALARM and ALL WE HAVE. Kathryn graduated Phi Beta Kappa with a degree in Theater and Dance from Trinity College in Hartford, Connecticut. Studio 28 will be producing her play BIGGER THAN YOU, BIGGER THAN ME this spring. She just recently relocated her life to New York City and is writing a play about cults (or something like that).
    </p>
  </div>
</div>
<div id='maureen-bio' class="bio">
  <div class="bio-block1 avenir">
    <h2>Maureen Monterubio</h2>
    <h3>Director</h3>
    <%= image_tag('Maureen', alt:'Maureen Monterubio', class: 'bio-image') %>
  </div>
  <div class="bio-block2 align-top">
    <p class='text'>
      Maureen Monterubio is a Brooklyn based director. She mainly focuses on new plays. Her work has been produced by Tiny Rhino, 14th Street Y, Wide Eyed Productions, Peculiar Works Project, Field Trip Theatre, Source Festival, Rorschach Theatre, and Manhattan Theatre Club. In September she will be directing PREGNANT PAUSE at the United Solo Festival. Maureen interned at New York Theatre Workshop. She is a proud Tennessee Volunteer.
    </p>
  </div>
</div>

-->



<h2 id="creative-team-title" class="team-title section-title phosphate center-text">THE CREATIVE TEAM</h2>

<div class="bio-links-container">
  <div class="bio-link">
    <a href="#" id="monterubio">
      <%= image_tag('Maureen', alt:'Maureen Monterubio', class: 'bio-img') %>
      <h2>Maureen Monterubio</h2>
      <h3>Director</h3>
    </a>
  </div>
  <div class="bio-link">
    <a href="#" id="fahlsing">
      <%= image_tag('KTF', alt:'Kate Tucker Fahlsing', class: 'bio-img') %>
      <h2>Kate Tucker Fahlsing</h2>
      <h3>Playwright/Producer</h3>
    </a>
  </div>
  <div class="bio-link">
    <a href="#" id="maggiotto">
      <%= image_tag('KCM', alt:'Kathryn Coughlin Maggiotto', class: 'bio-img') %>
      <h2>Kathryn Coughlin Maggiotto</h2>
      <h3>Producer</h3>
    </a>
  </div>
</div>

<div class="full-bio" id="monterubio-bio">
  <div class="bio-left">
    <%= image_tag('Maureen', alt:'Maureen Monterubio', class: 'bio-image') %>
    <h2>Maureen Monterubio</h2>
    <h3>Director</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      Maureen Monterubio is a Brooklyn based director. She mainly focuses on new plays. Her work has been produced by Tiny Rhino, 14th Street Y, Wide Eyed Productions, Peculiar Works Project, Field Trip Theatre, Source Festival, Rorschach Theatre, and Manhattan Theatre Club. In September she will be directing PREGNANT PAUSE at the United Solo Festival. Maureen interned at New York Theatre Workshop. She is a proud Tennessee Volunteer.
    </p>
  </div>
</div>

<div class="full-bio" id="fahlsing-bio">
  <div class="bio-left">
    <%= image_tag('KTF', alt:'Kate Tucker Fahlsing', class: 'bio-image') %>
    <h2>Kate Tucker Fahlsing</h2>
    <h3>Playwright/Producer</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      Kate Tucker Fahlsing (one half of the two Kates working on this production) is a playwright and screenwriter. She recently graduated from Northwestern University with her MFA in Writing for the Screen and Stage. Kate is compelled to write about the things we cannot discuss at the dinner table, like nontraditional relationships, chronic and invisible illnesses, and 21st century femininity. Her plays have been featured as readings at Chicago Dramatists, Teatro Vista at Victory Gardens Theater, Greenhouse Theater, and Stage 773 in Chicago. Her plays include, ACROSS THE PARK, HERPES, DUCKS UNLIMITED, SLEEP NUMBER, and PLAN B. She’s also written and performed Off-Off Broadway at La MaMa, Dixon Place, and Judson Church. A production of Kate’s play HERPES, recently premiered at Stage 773 as a part of the <span>4 by 4: 4 New Plays by 4 New Writers showcase</span>, which she produced. Kate apprenticed with Oscar-nominated screenwriter, Hawk Ostby, for three years where she wrote and developed projects for both TV and film. She’s a top ten finalist for the Playwrights’ Center Core Apprentice Program 2016-17. Kate has a strong affection for the outdoors and her Labrador retriever, Ojibwa. More info:
      <a target="_" href="http://www.katetuckerfahlsing.com">www.KateTuckerFahlsing.com</a>
    </p>
  </div>
</div>

<div class="full-bio" id="maggiotto-bio">
  <div class="bio-left">
    <%= image_tag('KCM', alt:'Kathryn Coughlin Maggiotto', class: 'bio-image') %>
    <h2>Kathryn Coughlin Maggiotto</h2>
    <h3>Producer</h3>
  </div>
  <div class="bio-right">
    <p class='text align-top'>
      Kathryn also known on this production as "other Kate" writes, develops and produces new plays. She served as the literary manager and associate producer of CulturalDC’s Source Festival for four years. Other dramaturgy credits include Taffety Punk Theatre Company, The DC Queer Theatre Festival and Young Playwrights’ Theater where she was a Resident Teaching Artist. Kathryn’s plays have been developed and produced by Field Trip Theater, Rorschach Theatre, Inkwell Theatre, 1MPF, DC-Page-to-Stage, St. Bonaventure University, The Disreputables and Meat and Bone Theatre Company. Her plays include MORE THAN BEFORE, SLIP, THEY SAY THERE'S A WAR GOING ON, SOUNDS OF ALARM and ALL WE HAVE. Kathryn graduated Phi Beta Kappa with a degree in Theater and Dance from Trinity College in Hartford, Connecticut. Studio 28 will be producing her play BIGGER THAN YOU, BIGGER THAN ME this spring. She just recently relocated her life to New York City and is writing a play about cults (or something like that).
    </p>
  </div>
</div>

<div id='team-actionbtns' class='tix-info'>
  <a class='donate-btn avenir' target="_" href="http://www.brownpapertickets.com/event/2591970">PURCHASE TICKETS</a>
  <br>
  <a class='donate-btn avenir' target="_" href="https://www.indiegogo.com/projects/across-the-park-arts#/">DONATE NOW</a>
</div>

<script type="text/javascript">
;(function($) {
     $(function() {
         $('.bio-link a').on('click', function(e) {
            e.preventDefault();
            var target = $(this).attr('id');
            target = '#' + target + '-bio';
            $(target).bPopup({
              position: ['auto', 30]
            });
         });
      });
  })(jQuery);
</script>
