<!DOCTYPE html>
<html>
<head>
  <title>AcrossThePark</title>
  <%= stylesheet_link_tag 'reset', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul class='sm-links'>
      <li>
        <a href="https://www.facebook.com/ACROSSTHEPARK">
          <%= icon('facebook-square fa-lg') %>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/acrosstheparkplay/?hl=en">
          <%= icon('instagram fa-lg') %>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/ATPplay">
          <%= icon('twitter-square fa-lg') %>
        </a>
      </li>
    </ul>
    <div class="links-container">
      <!-- <%= icon('bars fa-lg mobile-menu') %> -->
      <ul class='site-links'>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="team">TEAM</a>
        </li>
        <li>
          <a href="contact">CONTACT</a>
        </li>
        <li>
          <a target="_" href="https://www.fracturedatlas.org/site/fiscal/profile?id=14612">DONATE</a>
        </li>
        <li>
          <a target="_" class='orange-text' href="http://www.brownpapertickets.com/event/2591970">PURCHASE TICKETS</a>
        </li>
      </ul>
    </div>
  </nav>

<%= yield %>

  <footer>
    <ul class='footer-sm-links'>
      <li>
        <a href="https://www.facebook.com/ACROSSTHEPARK">
          <%= icon('facebook-square fa-lg') %>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/acrosstheparkplay/?hl=en">
          <%= icon('instagram fa-lg') %>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/ATPplay">
          <%= icon('twitter-square fa-lg') %>
        </a>
      </li>
    </ul>
    <p class="avenir">
      <a href="mailto:acrosstheparkplay@gmail.com">acrosstheparkplay@gmail.com</a>
    </p>
  </footer>

</body>
</html>
